// @import "../../node_modules/prismjs/themes/prism";

@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700";

$black: #3D463F;
$gray: #878C88;
$white: #fefefe;
$blue: #0E52CE;
$green: #72D687;

$font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: #fafafa;
  color: $black;
  font-family: $font;
}

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }

//
// Layout
//

.site-body {
	display: flex;
	justify-content: center;
  width: 100%;
}

.site-container {
  display: flex;
	padding-bottom: 40px;
	flex-direction: column;
}

.site-header {
	display: flex;
	justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}

.site-sidebar {
  flex: 1;
}

.site-content {
  flex: 2;
}

.Input-text {
  display: block;
  margin: 0;
  padding: 10;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}


//
// Typography
//

.site-title {
  flex: 2;
  margin: 0;
  font-size: 1.5em;

  img {
    vertical-align: middle;
    margin: -3px 10px 0 0;
  }

  .badge {
    display: inline-block;
    margin-left: 10px;
  }
}

.song-block {
	display: flex;
	flex-direction: column;
}

.song-text {
	display: flex;
	justify-content: center;
}

.stack-center {
  display: flex;
	justify-content: center;
}

.url-paste-box {
	display: flex;
  justify-content: center;
  padding-top: 10px
}

.site-title-text {
  display: inline-block;
	vertical-align: middle;
  line-height: 1em;

  small {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: $gray;
    line-height: 1.44;
  }
}


pre,
code {
  font-family: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}


//
// Page content
//

.component-group {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.component-content {
  margin-bottom: 40px;
}

.component-title {
  font-size: 1.25em;
}


@import "controls";